In [1]:
!pip install pymongo

Requirement already satisfied: pymongo in /opt/conda/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [2]:
from pymongo import MongoClient

In [3]:
mongo_client = MongoClient('18.236.138.158', 27016)
database_reference = mongo_client.twitter
collection_reference = database_reference.tweets

In [4]:
cursor = collection_reference.find()

In [5]:
cursor.count()

2157100

In [6]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 20}}])

In [12]:
list(range(5))

[0, 1, 2, 3, 4]

In [11]:
list(cursor_sampl)

[]

In [7]:
len(list(cursor_sampl))

20

In [13]:
next(cursor_sampl)

StopIteration:

In [14]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [15]:
tw = next(cursor_sampl)

In [16]:
tw.keys()

dict_keys(['_id', 'created_at', 'id', 'id_str', 'text', 'display_text_range', 'source', 'truncated', 'in_reply_to_status_id', 'in_reply_to_status_id_str', 'in_reply_to_user_id', 'in_reply_to_user_id_str', 'in_reply_to_screen_name', 'user', 'geo', 'coordinates', 'place', 'contributors', 'is_quote_status', 'quote_count', 'reply_count', 'retweet_count', 'favorite_count', 'entities', 'favorited', 'retweeted', 'filter_level', 'lang', 'timestamp_ms', 'user_processed'])

In [17]:
list(tw.values())[:5]

[ObjectId('5a62639936dd5f00016251b0'),
 'Fri Jan 19 21:31:05 +0000 2018',
 954466264520380416,
 '954466264520380416',
 '@withlovedaisy ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚ðŸ˜‚']

In [18]:
import pandas as pd

In [19]:
tw_sample_df = pd.DataFrame(list(collection_reference.aggregate([{'$sample': {'size': 5}}])))

In [20]:
tw_sample_df.dtypes

_id                           object
contributors                  object
coordinates                   object
created_at                    object
display_text_range            object
entities                      object
extended_entities             object
favorite_count                 int64
favorited                       bool
filter_level                  object
geo                           object
id                             int64
id_str                        object
in_reply_to_screen_name       object
in_reply_to_status_id        float64
in_reply_to_status_id_str     object
in_reply_to_user_id          float64
in_reply_to_user_id_str       object
is_quote_status                 bool
lang                          object
place                         object
possibly_sensitive            object
quote_count                    int64
quoted_status                 object
quoted_status_id             float64
quoted_status_id_str          object
reply_count                    int64
retweet_count                  int64
retweeted                       bool
source                        object
text                          object
timestamp_ms                  object
truncated                       bool
user                          object
user_processed                object
dtype: object

In [21]:
tw_sample_df.select_dtypes([int])

   favorite_count                  id  quote_count  reply_count  retweet_count
0               0  954348872469393412            0            0              0
1               0  960764184064540672            0            0              0
2               0  951849721185714176            0            0              0
3               0  954906547938672640            0            0              0
4               0  950473316082438144            0            0              0

In [22]:
tw_sample_df.select_dtypes([float])

   in_reply_to_status_id  in_reply_to_user_id  quoted_status_id
0                    NaN                  NaN      9.543483e+17
1           9.607098e+17         7.930312e+17               NaN
2           9.518263e+17         1.522077e+07               NaN
3                    NaN                  NaN      9.548548e+17
4                    NaN                  NaN               NaN

In [23]:
tw_sample_df.select_dtypes(['object'])

,_id,contributors,coordinates,created_at,display_text_range,entities,extended_entities,filter_level,geo,id_str,...,lang,place,possibly_sensitive,quoted_status,quoted_status_id_str,source,text,timestamp_ms,user,user_processed
0,5a61f64536dd5f00016207ad,None,None,Fri Jan 19 13:44:36 +0000 2018,"[0, 20]","{'hashtags': [{'text': 'CAGOV', 'indices': [14...",NaN,low,None,954348872469393412,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,{'created_at': 'Fri Jan 19 13:42:19 +0000 2018...,954348298332180480,"<a href=""http://twitter.com/download/iphone"" r...",And Nunez for #CAGOV https://t.co/WzMBWX4epb,1516369476798,"{'id': 16038334, 'id_str': '16038334', 'name':...",NaN
1,5a794cfe15ba4c000156e2c1,None,None,Tue Feb 06 06:36:46 +0000 2018,"[33, 47]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,960764184064540672,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",@BryceTV1 @GroovyTony @__jimmayy ðŸ˜­ðŸ˜­ðŸ˜­ðŸ˜­ðŸ˜‚ too true,1517899006273,"{'id': 507588716, 'id_str': '507588716', 'name...",NaN
2,5a58dec036dd5f00015ca739,None,None,Fri Jan 12 16:13:52 +0000 2018,"[13, 32]","{'hashtags': [], 'urls': [], 'user_mentions': ...",NaN,low,None,951849721185714176,...,en,"{'id': 'fbd6d2f5a4e4a15e', 'url': 'https://api...",NaN,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...","@DavidCornDC Unfortunately, yes.",1515773632700,"{'id': 252903764, 'id_str': '252903764', 'name...",NaN
3,5a63fda536dd5f0001635c27,None,None,Sun Jan 21 02:40:36 +0000 2018,"[0, 14]","{'hashtags': [], 'urls': [{'url': 'https://t.c...",NaN,low,None,954906547938672640,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,{'created_at': 'Sat Jan 20 23:15:00 +0000 2018...,954854804337152006,"<a href=""http://twitter.com/download/iphone"" r...",Inspirational! https://t.co/5Y1DBjsrfX,1516502436991,"{'id': 3265840946, 'id_str': '3265840946', 'na...",True
4,5a53dce036dd5f000159a598,None,None,Mon Jan 08 21:04:32 +0000 2018,"[0, 116]","{'hashtags': [], 'urls': [], 'user_mentions': ...","{'media': [{'id': 950473308536848384, 'id_str'...",low,None,950473316082438144,...,en,"{'id': '3b77caf94bfc81fe', 'url': 'https://api...",False,NaN,NaN,"<a href=""http://twitter.com/download/iphone"" r...",You know you donâ€™t have to be homophobic right...,1515445472151,"{'id': 66877234, 'id_str': '66877234', 'name':...",NaN

In [24]:
cursor_sampl = collection_reference.aggregate([{'$sample': {'size': 1}}])

In [ ]:
tw_sample_df['created_at'] = pd.to_datetime(tw_sample_df['created_at'])

In [ ]:
tw_sample_df

## Tweets Containing Geo Information

In [ ]:
contain_geo_search = collection_reference.find({'geo' : { '$ne' : None}})
contain_geo_search

### DO NOT RUN THIS

In [ ]:
# contain_geo_search.count()

    318373

## Distinct Users

#### TRY THIS

In [ ]:
collection_reference.distinct('user')